
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ show.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="show-details-container">
        <div class="show-cover">
            <img src="{{ show.cover_image }}" alt="{{ show.title }}">
            <h2>{{ show.title }}</h2>
            <form action="{{ url_for('add_episode', show_id=show.id) }}" method="post" style="text-align: center;">
                <input type="text" name="title" placeholder="New episode title" required>
                <button type="submit">+</button>
            </form>
            <div style="text-align: center; margin-top: 10px;">
                <a href="{{ url_for('index') }}" class="add-button home-button" style="background-color: white; color: black;"><i class="nf nf-fa-home"></i> Home</a>
                <a href="{{ url_for('scan_manual', show_id=show.id) }}" class="add-button" style="background-color: #007bff; color: white; margin-left: 10px;">Manual Scan</a>
            </div>
        </div>
        <div class="episode-list">
            <ul>
                {% for episode in show.episodes %}
                    <li class="episode-item">
                        <span class="episode-title">
                            <input type="checkbox" {% if episode.watched %}checked{% endif %} onchange="window.location.href='{{ url_for('toggle_watched', show_id=show.id, episode_id=episode.id) }}'">
                            {{ episode.title }}
                        </span>
                        <span class="episode-controls">
                            <a href="#" onclick="openEditEpisodeModal({{ show.id }}, {{ episode.id }})" class="edit-dot"></a>
                            <a href="{{ url_for('delete_episode', show_id=show.id, episode_id=episode.id) }}" class="delete-dot" onclick="return confirm('Are you sure you want to delete this episode?')"></a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- The Edit Episode Modal -->
    <div id="editEpisodeModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditEpisodeModal()">&times;</span>
            <h2>Edit Episode</h2>
            <form id="editEpisodeForm" action="/edit_episode" method="post">
                <input type="hidden" id="editEpisodeShowId" name="show_id">
                <input type="hidden" id="editEpisodeId" name="id">
                <label for="editEpisodeTitle">Title:</label>
                <input type="text" id="editEpisodeTitle" name="title" required>
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
