*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Allow gradle-wrapper.jar to be committed
!gradle/wrapper/gradle-wrapper.jar

# Ensure Android icons and mipmaps are never ignored by Git
!Android_ICON/
!Android_ICON/**
!**/src/main/res/mipmap-*/*.png
!**/src/main/res/mipmap-*/*.xml

