
body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #121212;
    color: #e0e0e0;
}

.add-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #1db954;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.show-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.show-card {
    background-color: #282828;
    border: 1px solid #404040;
    border-radius: 5px;
    overflow: hidden;
}

.show-card a {
    text-decoration: none;
    color: #e0e0e0;
}

.show-card img {
    width: 100%;
    height: auto;
}

.show-card h3, .show-card p {
    padding: 0 10px 10px;
}

.show-actions, .episode-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
}

.show-actions a, .episode-actions a {
    text-decoration: none;
    color: #fff;
    background-color: #535353;
    padding: 5px 10px;
    border-radius: 3px;
}

.episode-actions a {
    background-color: #757575;
}

.show-details-container {
    display: flex;
    align-items: center;
}

.show-cover {
    flex: 1;
    margin-right: 20px;
}

.show-cover img {
    width: 100%;
    border-radius: 5px;
}

.episode-list {
    flex: 2;
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: auto;
}

.episode-list ul {
    list-style-type: none;
    padding: 0;
}

.episode-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-radius: 3px;
}

.episode-title {
    flex-grow: 1;
}

.episode-controls a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.edit-dot {
    background-color: #3498db;
}

.delete-dot {
    background-color: #e74c3c;
}

.episode-list a {
    text-decoration: none;
    color: #e0e0e0;
}

input[type="text"], input[type="number"], input[type="url"] {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 3px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

h1, h2 {
    color: #1db954;
}
